@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

/* GENERIC STATEMENTS _____________________________________________________ */

:root {
  --box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Balsamiq Sans", cursive;
}

/* __________________________________________________________ */

body {
  display: flex;
  justify-content: center;
  background-image: url("./images/meiying-ng-OrwkD-iWgqg-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-y: scroll;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header {
  display: flex;
}

.navbar {
  padding: 1.5rem 3rem;
  width: 100%;
}

.navbar ul {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar ul li > * {
  color: #000;
  font-size: 1.6rem;
}

#navlink-home {
  position: fixed;
  z-index: 100;
}

#navlink-showcase {
  margin-left: auto;
}

#search-field {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #ffffff1e;
  color: #555;
  backdrop-filter: blur(5px);
  outline: none;
  border: none;
  width: 30rem;
  padding: 0.8rem 0;
  font-size: 1.5rem;
  text-align: center;
}

/* ___________ */

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  height: 100%;
  margin: 0rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  margin: 1rem;
  animation: popOutFromBehind 1s;
}

/* ___________ */

.pokemon-wrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.pokeball {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(227, 237, 253, 0.479);

  backdrop-filter: blur(3x);
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

.pokemon-mini-header {
  display: flex;
  align-items: center;
}

.pokemon-id {
  margin-left: 10px;
}

.pokemon-img {
  max-width: 100%;
}

.pokemon-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
  margin-top: 0.2rem;
}

.pokemon-info > * {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 6px;
}

.pokemon-lists {
  grid-area: span 1 / span 3;
}

.pokemon-health {
  color: rgb(44, 189, 39);
}

.pokemon-attack {
  color: rgb(228, 50, 50);
}

.pokemon-speed {
  color: rgb(61, 100, 230);
}

/* ____________ */

.navbar ul li > *:hover {
  color: #fff;
}

#search-field:hover {
  cursor: pointer;
}

#search-field:hover::placeholder {
  color: #555;
}

.pokeball:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

/* _____________ */

@media screen and (max-width: 1020px) {
  .pokemon-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 780px) {
  .pokemon-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .navbar {
    padding: 1rem 0rem;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul > * {
    margin: 1rem 0;
  }

  #navlink-home {
    position: unset;
  }

  #search-field {
    width: 100%;
    margin-bottom: 1.8rem;
  }

  .pokemon-wrapper {
    grid-template-columns: 1fr;
    padding: 0rem;
  }
}

@keyframes popOutFromBehind {
  0% {
    transform: scale(0);
  }
  30% {
    transform: skewX(10deg);
    transform: translateX(-1px);
    transform: scale(60%);
  }
  40% {
    transform: skewX(-7deg);
    transform: scale(30%);
    transform: translateX(1px);
  }
  50% {
    transform: skewX(6deg);
    transform: translateX(-1px);
  }
  60% {
    transform: skewX(-3deg);
    transform: scale(70%);
    transform: translateX(1px);
  }
  70% {
    transform: skewX(1deg);
    transform: translateX(0px);
  }

  100% {
    transform: scale(100%);
  }
}
